@media screen and (min-width: 50rem) {
  body {
    margin: 0.25rem auto 1rem auto;
    padding: 1rem;
    max-width: 70rem;
  }
}

body, div, table, tt, td, thead, tbody, tr, span, a {
  font-size: 11pt; 
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

body {
  aSCROLLBAR-TRACK-COLOR: #3188ff;
  aSCROLLBAR-3DLIGHT-COLOR: #d2f2ff;
  SCROLLBAR-HIGHLIGHT-COLOR: #000000;
  SCROLLBAR-ARROW-COLOR: #d2f2ff;
  SCROLLBAR-DARKSHADOW-COLOR: #3188ff;
  SCROLLBAR-BASE-COLOR: #000000;
}

a:link, 
a:visited, 
a:active, 
a:hover {
  text-decoration: none; 
  font-weight: bold;
  color: #00c;
}

a:hover { 
  color: #66f; 
}

#SUBTXT { 
  font-size: 10pt; 
}

#MIC { 
  font-size: 4pt; 
}

#H1 { 
  font-size: 12pt;
  font-weight: bold; 
}

#H2 { 
  font-size: 14pt; 
  font-weight: bold; 
}

ALL, p, td { 
  font-size: 11pt; 
}

th { 
  font-size: 12pt; 
  font-weight: bold; 
}

pre,
code {
  font-family: SFMono-Regular, Menlo, Monaco, "Courier New", monospace;
}

tt {
  color: #000080;
  font-family: SFMono-Regular, Menlo, Monaco, "Courier New", monospace;
} 

.code-block-indent {
  padding-top:1rem; 
  padding-left:1rem;
}

#RC {
  background-color: #e0e0ff; 
  border: 2px solid #c0c0ff; 
  padding: 10px;
  margin: 7px;
}

.important {
    background: #ffe0e0; 
    padding: 1rem;
    border-radius: 5px;
}

.noborder, 
.noborder table, 
.noborder thead, 
.noborder tbody, 
.noborder th,
.noborder tr, 
.noborder th, 
.noborder td { 
  border: none;
}

.build, 
.build table, 
.build thead, 
.build tbody, 
.build th,
.build tr, 
.build th, 
.build td {
  padding: 3px;
  border-spacing: 0;
  border-collapse: collapse;
}

.build table {
  table-layout: fixed;
  background-color: #ffffe0;
}

.build table, 
.build thead, 
.build tbody,
.build tr {
  table-layout: auto;
  margin: auto;
  width: 100%;
}

.build thead,
.build thead + th {
  background-color: #c8c8ff;
}

.build .inter {
    background-color: #ffe0e0;
    color: #400;
}

.build .alt-1 {
  vertical-align: bottom;
  background-color: #ffffa0;
}

.build .alt-2 {
  vertical-align: bottom;
  background-color: #ffffe0;
}


.gui, 
.gui table, 
.gui thead, 
.gui tbody, 
.gui th,
.gui tr, 
.gui th {
  padding: 3px;
  border-spacing: 0;
  border-collapse: collapse;
}

.gui td {
  padding: 6px;
}

.gui table {
  table-layout: fixed;
  background-color: #ffffe0;
}

.gui table, 
.gui thead, 
.gui tbody,
.gui tr {
  table-layout: auto;
  margin: auto;
  width: 100%;
}

.gui thead,
.gui thead + th {
  background-color: #c8c8ff;
}

.gui .alt-1 {
  vertical-align: top;
  background-color: #ffffa0;
}

.gui .alt-2 {
  vertical-align: top;
  background-color: #ffffe0;
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: black;
        color: #eee;
    }

    b, i {
	color: #fff;
    }
    code, tt {
	color: #8080ff;
    }
    pre {
	color: #ffffd0;
    }
    a:link,
    a:visited,
    a:active {
	color: #aaf;
    }
    a:hover {
	color: #88f;
    }

   .build thead, .build thead + th, .gui thead, .gui thread + th {
       background-color: #004;
   }

   .build .alt-1, .gui .alt-1 {
       vertical-align: bottom;
       background-color: #111;
   }

   .build .alt-2, .gui .alt-2 {
       vertical-align: bottom;
       background-color: #333;
   }

   .build .inter, .gui . inter {
       background-color: #200;
       color: fcc;
   }

   h1, h2, h3 {
       color: #ff8;
   }
}
